@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$sidebarcolor: #38bdf8;
body {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.main-container {
  height: 90vh;
  width: 90vw;
  margin: auto;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(1, 0.5fr) repeat(3, 1fr);
  grid-template-rows: repeat(1, 0.5fr) repeat(3, 1fr);
  grid-template-areas:
    "sidebar header header header "
    "sidebar content content content"
    "sidebar content content content "
    "sidebar content content content";
}

header {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  grid-area: header;
  z-index: 100;
  padding: 16px 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .search__div {
    background-color: #e4e4e7;
    max-width: 40%;
    width: 40%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      height: 48px;
    }
    .search__input {
      height: 100%;
      width: 100%;
      padding-left: 16px;
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 1rem;
    }
  }
  .user__div {
    display: flex;
    align-items: center;
    // border: 1px solid black;
    .text {
      text-align: right;
    }
    .user__image {
      margin-left: 16px;
      width: 100px;
      height: 100px;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      .img_effect {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        width: 90px;
        height: 90px;
        background-color: #fff;
        border-radius: 50%;
      }
      img {
        z-index: 1;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 90px;
        object-fit: cover;
        transition: all 0.2s ease-in-out;
      }
      img:hover {
        height: 100px;
      }
    }
  }
}
.sidebar {
  background-color: $sidebarcolor;
  grid-area: sidebar;
  padding: 16px 36px;
  display: flex;
  flex-direction: column;
  color: #f0f9ff;
  font-family: "Roboto", sans-serif;
  .logo {
    flex-grow: 1;
    display: flex;
    align-items: center;

    h1,
    i {
      font-size: 3rem;
    }
  }
  .nav {
    margin-top: 16px;
    flex-grow: 3;
    display: flex;
    padding-top: 1em;
    flex-direction: column;
  }
  .settings-nav {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: end;
    // border: 1px solid green;
  }
  li {
    list-style: none;
    font-size: 1.6rem;
    color: #fff;
    transition: all 0.2s ease-in-out;
    margin-bottom: 24px;
    &:hover {
      padding-left: 16px;
    }
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
.content {
  background-color: #e4e4e7;
  grid-area: content;
}
i {
  margin-right: 16px;
}
